body{
    background-repeat: no-repeat;

    padding-bottom: initial;
    background-image: url("https://www.shutterstock.com/image-photo/creepy-zombie-hand-holding-smartphone-260nw-2316083053.jpg");
    background-size: cover;



}
.mm{
    text-align: center;
    color: crimson;
}
.vv{
    text-align: center;


}
