body{
    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
    background-image: url("https://images.aeonmedia.co/images/981e631a-3e06-4ebd-ade5-794395d7ddd7/sized-boris-thaser-40369652732_cf12f10a2f_o.jpg?width=3840&quality=75&format=auto");
    background-size: cover;



}
.bb{
    color: darkred;





}